#Taller Econometria 

*   Natalia Forero Avila
*   Karen Acosta Enciso

1. Instale la librería wooldridge e importe numpy y pandas.

In [ ]:
!pip install wooldridge 
import pandas as pd
import numpy as np
import wooldridge as wd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wooldridge
  Downloading wooldridge-0.4.4-py3-none-any.whl (5.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 42.5 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from wooldridge) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->wooldridge) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas->wooldridge) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->wooldridge) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->wooldridge) (1.16.0)
Installing collected packages: wooldridge
Successfully installed wooldridge-0.4.4

2.Cargue el dataset wage1 y guárdelo en una variable. Conserve únicamente las columnas exper, educ y wage

In [ ]:
df=wd.data("wage1")
df

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,15.00,16,14,2,0,1,1,2,0,0,...,0,0,0,1,1,0,0,2.708050,196,4
522,2.27,10,2,0,0,1,0,3,0,0,...,0,1,0,0,1,0,0,0.819780,4,0
523,4.67,15,13,18,0,0,1,3,0,0,...,0,0,0,0,1,0,0,1.541159,169,324
524,11.56,16,5,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2.447551,25,1
525,3.50,14,5,4,1,1,0,2,0,0,...,0,0,0,1,0,1,0,1.252763,25,16

In [ ]:
dv=df[["wage","educ","exper"]] 
dv

      wage  educ  exper
0     3.10    11      2
1     3.24    12     22
2     3.00    11      2
3     6.00     8     44
4     5.30    12      7
..     ...   ...    ...
521  15.00    16     14
522   2.27    10      2
523   4.67    15     13
524  11.56    16      5
525   3.50    14      5

[526 rows x 3 columns]

In [ ]:
Y=dv["wage"]
X=dv[["educ","exper"]]

3. Pase el dataframe a un array de numpy.

In [ ]:
array1=Y.to_numpy()
array1

array([ 3.0999999 ,  3.24000001,  3.        ,  6.        ,  5.30000019,
        8.75      , 11.25      ,  5.        ,  3.5999999 , 18.18000031,
        6.25      ,  8.13000011,  8.77000046,  5.5       , 22.20000076,
       17.32999992,  7.5       , 10.63000011,  3.5999999 ,  4.5       ,
        6.88000011,  8.47999954,  6.32999992,  0.52999997,  6.        ,
        9.56000042,  7.78000021, 12.5       , 12.5       ,  3.25      ,
       13.        ,  4.5       ,  9.68000031,  5.        ,  4.67999983,
        4.26999998,  6.1500001 ,  3.50999999,  3.        ,  6.25      ,
        7.80999994, 10.        ,  4.5       ,  4.        ,  6.38000011,
       13.69999981,  1.66999996,  2.93000007,  3.6500001 ,  2.9000001 ,
        1.63      ,  8.60000038,  5.        ,  6.        ,  2.5       ,
        3.25      ,  3.4000001 , 10.        , 21.62999916,  4.38000011,
       11.71000004, 12.39000034,  6.25      ,  3.71000004,  7.78000021,
       19.97999954,  6.25      , 10.        ,  5.71000004,  2.        ,
        5.71000004, 13.07999992,  4.90999985,  2.91000009,  3.75      ,
       11.89999962,  4.        ,  3.0999999 ,  8.44999981,  7.13999987,
        4.5       ,  4.6500001 ,  2.9000001 ,  6.67000008,  3.5       ,
        3.25999999,  3.25      ,  8.        ,  9.85000038,  7.5       ,
        5.90999985, 11.76000023,  3.        ,  4.80999994,  6.5       ,
        4.        ,  3.5       , 13.15999985,  4.25      ,  3.5       ,
        5.13000011,  3.75      ,  4.5       ,  7.63000011, 15.        ,
        6.8499999 , 13.32999992,  6.67000008,  2.52999997,  9.80000019,
        3.36999989, 24.97999954,  5.4000001 ,  6.11000013,  4.19999981,
        3.75      ,  3.5       ,  3.6400001 ,  3.79999995,  3.        ,
        5.        ,  4.63000011,  3.        ,  3.20000005,  3.91000009,
        6.42999983,  5.48000002,  1.5       ,  2.9000001 ,  5.        ,
        8.92000008,  5.        ,  3.51999998,  2.9000001 ,  4.5       ,
        2.25      ,  5.        , 10.        ,  3.75      , 10.        ,
       10.94999981,  7.9000001 ,  4.71999979,  5.84000015,  3.82999992,
        3.20000005,  2.        ,  4.5       , 11.55000019,  2.1400001 ,
        2.38000011,  3.75      ,  5.51999998,  6.5       ,  3.0999999 ,
       10.        ,  6.63000011, 10.        ,  2.30999994,  6.88000011,
        2.82999992,  3.13000011,  8.        ,  4.5       ,  8.64999962,
        2.        ,  4.75      ,  6.25      ,  6.        , 15.38000011,
       14.57999992, 12.5       ,  5.25      ,  2.17000008,  7.13999987,
        6.21999979,  9.        , 10.        ,  5.76999998,  4.        ,
        8.75      ,  6.53000021,  7.5999999 ,  5.        ,  5.        ,
       21.86000061,  8.64000034,  3.29999995,  4.44000006,  4.55000019,
        3.5       ,  6.25      ,  3.8499999 ,  6.17999983,  2.91000009,
        6.25      ,  6.25      ,  9.05000019, 10.        , 11.10999966,
        6.88000011,  8.75      , 10.        ,  3.04999995,  3.        ,
        5.80000019,  4.0999999 ,  8.        ,  6.1500001 ,  2.70000005,
        2.75      ,  3.        ,  3.        ,  7.36000013,  7.5       ,
        3.5       ,  8.10000038,  3.75      ,  3.25      ,  5.82999992,
        3.5       ,  3.32999992,  4.        ,  3.5       ,  6.25      ,
        2.95000005,  5.71000004,  3.        , 22.86000061,  9.        ,
        8.32999992,  3.        ,  5.75      ,  6.76000023, 10.        ,
        3.        ,  3.5       ,  3.25      ,  4.        ,  2.92000008,
        3.05999994,  3.20000005,  4.75      ,  3.        , 18.15999985,
        3.5       ,  4.11000013,  1.96000004,  4.28999996,  3.        ,
        6.44999981,  5.19999981,  4.5       ,  3.88000011,  3.45000005,
       10.90999985,  4.0999999 ,  3.        ,  5.9000001 , 18.        ,
        4.        ,  3.        ,  3.54999995,  3.        ,  8.75      ,
        2.9000001 ,  6.26000023,  3.5       ,  4.5999999 ,  6.        ,
        2.8900001 ,  5.57999992,  4.        ,  6.        ,  4.5       ,
        2.92000008,  4.32999992, 18.88999939,  4.28000021,  4.57000017,
        6.25      ,  2.95000005,  8.75      ,  8.5       ,  3.75      ,
        3.1500001 ,  5.        ,  6.46000004,  2.        ,  4.78999996,
        5.78000021,  3.18000007,  4.67999983,  4.0999999 ,  2.91000009,
        6.        ,  3.5999999 ,  3.95000005,  7.        ,  3.        ,
        6.07999992,  8.63000011,  3.        ,  3.75      ,  2.9000001 ,
        3.        ,  6.25      ,  3.5       ,  3.        ,  3.24000001,
        8.02000046,  3.32999992,  5.25      ,  6.25      ,  3.5       ,
        2.95000005,  3.        ,  4.69000006,  3.73000002,  4.        ,
        4.        ,  2.9000001 ,  3.04999995,  5.05000019, 13.94999981,
       18.15999985,  6.25      ,  5.25      ,  4.78999996,  3.3499999 ,
        3.        ,  8.43000031,  5.69999981, 11.97999954,  3.5       ,
        4.23999977,  7.        ,  6.        , 12.22000027,  4.5       ,
        3.        ,  2.9000001 , 15.        ,  4.        ,  5.25      ,
        4.        ,  3.29999995,  5.05000019,  3.57999992,  5.        ,
        4.57000017, 12.5       ,  3.45000005,  4.63000011, 10.        ,
        2.92000008,  4.51000023,  6.5       ,  7.5       ,  3.53999996,
        4.19999981,  3.50999999,  4.5       ,  3.3499999 ,  2.91000009,
        5.25      ,  4.05000019,  3.75      ,  3.4000001 ,  3.        ,
        6.28999996,  2.53999996,  4.5       ,  3.13000011,  6.36000013,
        4.67999983,  6.80000019,  8.52999973,  4.17000008,  3.75      ,
       11.10000038,  3.25999999,  9.13000011,  4.5       ,  3.        ,
        8.75      ,  4.13999987,  2.86999989,  3.3499999 ,  6.07999992,
        3.        ,  4.19999981,  5.5999999 , 10.        , 12.5       ,
        3.75999999,  3.0999999 ,  4.28999996, 10.92000008,  7.5       ,
        4.05000019,  4.6500001 ,  5.        ,  2.9000001 ,  8.        ,
        8.43000031,  2.92000008,  6.25      ,  6.25      ,  5.11000013,
        4.        ,  4.44000006,  6.88000011,  5.42999983,  3.        ,
        2.9000001 ,  6.25      ,  4.34000015,  3.25      ,  7.26000023,
        6.3499999 ,  5.63000011,  8.75      ,  3.20000005,  3.        ,
        3.        , 12.5       ,  2.88000011,  3.3499999 ,  6.5       ,
       10.38000011,  4.5       , 10.        ,  3.80999994,  8.80000019,
        9.42000008,  6.32999992,  4.        ,  2.9000001 , 20.        ,
       11.25      ,  3.5       ,  6.        , 14.38000011,  6.36000013,
        3.54999995,  3.        ,  4.5       ,  6.63000011,  9.30000019,
        3.        ,  3.25      ,  1.5       ,  5.9000001 ,  8.        ,
        2.9000001 ,  3.28999996,  6.5       ,  4.        ,  6.        ,
        4.07999992,  3.75      ,  3.04999995,  3.5       ,  2.92000008,
        4.5       ,  3.3499999 ,  5.94999981,  8.        ,  3.        ,
        5.        ,  5.5       ,  2.6500001 ,  3.        ,  4.5       ,
       17.5       ,  8.18000031,  9.09000015, 11.81999969,  3.25      ,
        4.5       ,  4.5       ,  3.71000004,  6.5       ,  2.9000001 ,
        5.5999999 ,  2.23000002,  5.        ,  8.32999992,  2.9000001 ,
        6.25      ,  4.55000019,  3.27999997,  2.29999995,  3.29999995,
        3.1500001 , 12.5       ,  5.1500001 ,  3.13000011,  7.25      ,
        2.9000001 ,  1.75      ,  2.8900001 ,  2.9000001 , 17.70999908,
        6.25      ,  2.5999999 ,  6.63000011,  3.5       ,  6.5       ,
        3.        ,  4.38000011, 10.        ,  4.94999981,  9.        ,
        1.42999995,  3.07999992,  9.32999992,  7.5       ,  4.75      ,
        5.6500001 , 15.        ,  2.26999998,  4.67000008, 11.56000042,
        3.5       ])

In [ ]:
array2=X.to_numpy()
array2

array([[11,  2],
       [12, 22],
       [11,  2],
       ...,
       [15, 13],
       [16,  5],
       [14,  5]])

In [ ]:
x=np.c_[np.ones(len(array2)),array2]
x

array([[ 1., 11.,  2.],
       [ 1., 12., 22.],
       [ 1., 11.,  2.],
       ...,
       [ 1., 15., 13.],
       [ 1., 16.,  5.],
       [ 1., 14.,  5.]])

4. Sin ayuda de otra librería diferente a numpy:

A. Calcule los coeficientes

In [ ]:
B=np.linalg.inv(x.T.dot(x)).dot(x.T.dot(Y))
B

array([-3.39053946,  0.64427208,  0.0700954 ])

In [ ]:
Estimado=x@B
Estimado

array([ 3.83664416,  5.88282415,  3.83664416,  4.84783456,  4.83139322,
        7.54867231,  9.25778884,  4.69120242,  6.16320574,  9.10418453,
        7.47857691,  5.19528371,  5.39215638,  5.60244257,  6.51368272,
        7.89914929,  5.0416794 ,  6.10652385,  5.25196559,  6.8641597 ,
        5.1117748 ,  6.37349193,  7.54867231,  4.55101163,  6.28998302,
        7.12809993,  7.6888631 ,  9.09077102,  8.37640355,  2.39449571,
        7.2414637 ,  5.76946039,  6.10652385,  4.83139322,  4.55101163,
        8.45991246,  5.39215638,  1.92026928,  5.83955578,  5.1117748 ,
        4.55101163,  5.74263336,  6.75079593,  6.85074619,  5.75604687,
        7.67544959,  3.12227669,  6.8641597 ,  6.26012816,  5.39215638,
        5.60244257,  7.12809993,  5.39215638,  4.83139322,  4.48091624,
        6.48382786,  6.98790914,  2.67487729,  8.76712106,  7.40848152,
        7.78881336,  8.57327622,  5.57561555,  3.96342144,  6.26012816,
        7.45174989,  7.40848152,  6.09311034,  7.61876771,  4.55101163,
        7.12809993,  8.75370755,  5.53234717,  5.74263336,  4.83139322,
        6.66728702,  6.30339653,  4.48091624,  5.67253797,  9.11759804,
        3.95000793,  7.12809993,  3.33256288,  4.83139322,  4.76129782,
        5.25196559,  5.32206099,  5.32206099,  4.56745298,  5.1117748 ,
        5.32206099,  8.43308543,  4.41082084,  4.48091624,  4.62110703,
        3.73972174,  5.05509292,  6.72396891,  5.97974657,  4.55101163,
        6.69411405,  5.32206099,  6.7940643 ,  4.90148861,  6.11993737,
        7.04459103,  5.32206099,  6.7940643 ,  7.56511366,  8.05275359,
        6.85074619, 10.23912438,  4.76129782,  6.68070053,  7.94241766,
        4.10361223,  5.97974657,  4.83139322,  6.69411405,  4.07678521,
        7.05800454,  5.90965118,  6.34363707,  6.37349193,  9.39797963,
        8.10943548,  5.57561555,  3.93659442,  4.6643754 ,  4.60769352,
        8.41664408,  7.32497261,  7.70530445,  4.11702574,  5.1818702 ,
        4.69120242,  6.96108212,  7.54867231,  0.63172513,  7.59194068,
        8.53000785,  4.48091624,  5.39215638,  5.3354745 ,  5.60244257,
        6.41373246,  3.26246748,  6.51368272,  8.31972166,  7.36824098,
        2.7583862 ,  5.1117748 ,  7.15795479,  4.90148861,  4.48091624,
        6.89098672,  7.12809993,  7.12809993,  2.6882908 ,  8.48673948,
        3.12227669,  3.12227669,  6.94766861,  7.63520905,  9.11759804,
        5.12518831,  7.70530445,  5.40556989,  5.54576069,  6.73738242,
        9.11759804,  4.90148861,  5.67253797,  5.05509292,  7.35482747,
        5.67253797,  5.1117748 ,  8.64337162,  6.13637871,  5.88282415,
        7.12809993,  7.12809993,  7.21463668,  5.97974657,  5.32206099,
        6.02301495,  6.30339653,  6.09311034,  4.55101163,  5.1117748 ,
        4.83139322,  7.54867231,  7.26829073,  6.26012816,  3.76654876,
        7.05800454,  5.25196559,  5.0416794 ,  7.9125628 ,  6.44358732,
        6.51368272,  6.98790914,  2.39449571,  5.0416794 ,  7.00435049,
        5.67253797,  7.26829073,  6.16320574,  6.7940643 ,  2.54810001,
        5.05509292,  8.24962627,  5.83955578,  4.2870714 ,  7.66203608,
        5.05509292,  7.00435049,  8.27645329,  4.4406757 ,  4.2870714 ,
        2.04401873,  7.49501826,  7.17136831,  5.74263336,  7.26829073,
        2.81506808,  5.68595148,  2.61819541,  8.03934008,  7.00435049,
        8.58668974,  3.83664416,  6.04984197,  5.67253797,  6.37349193,
        4.48091624,  8.41664408,  4.62110703,  5.0416794 ,  4.62110703,
        5.32206099,  5.39215638,  5.67253797,  6.82089133,  8.95058023,
        4.48091624,  5.97974657,  6.36007841,  4.55101163,  6.3466649 ,
        4.83139322,  3.7695766 ,  6.59719163,  5.1818702 ,  3.82323065,
        6.09311034,  6.04984197,  5.19528371,  5.32206099,  9.11759804,
        4.97158401,  4.41082084,  4.76129782,  5.1117748 ,  7.63520905,
        5.19831154,  7.57852717,  5.12518831,  6.11993737,  5.88282415,
        3.61294446,  6.98790914,  7.35482747,  7.05800454,  4.48091624,
        5.69936499,  8.27645329,  9.38456612,  5.05509292,  8.22279925,
        7.11468642,  8.50318083,  6.02301495,  4.42726219,  5.60244257,
        6.16320574,  4.91792996,  6.23330113,  2.54810001,  7.21463668,
        7.6888631 ,  4.69120242,  7.12809993,  4.55101163,  4.62110703,
        6.45700083,  5.43542476,  3.90976739,  4.76129782,  6.16320574,
        7.54867231,  5.95291955,  4.07678521,  4.69120242,  3.90976739,
        2.55112785,  6.14979223,  5.30864748,  2.94184536,  5.46225178,
        9.818552  ,  6.8641597 ,  7.19819533,  5.0416794 ,  6.89098672,
        4.55101163,  3.54284906,  3.54284906,  4.72105728,  5.43542476,
        4.90148861,  5.53234717,  4.48091624,  3.40265827,  9.79172498,
        9.3711526 ,  7.6888631 ,  4.62110703,  5.1818702 ,  3.57270392,
        4.07678521,  7.47857691,  7.05800454,  8.76712106,  7.017764  ,
        4.03351684,  8.74029404,  6.40031895,  7.61876771,  5.25196559,
        4.02010332,  3.76654876,  6.14979223,  4.69120242,  4.60769352,
        5.88282415,  5.81272876,  5.67253797,  5.25196559,  6.68070053,
        5.83955578,  8.62693027,  4.76129782,  5.46225178,  6.51368272,
        3.76654876,  4.69120242,  7.77237201,  7.6888631 ,  5.40556989,
        5.75604687,  4.83139322,  5.97974657,  5.97974657,  3.83664416,
        6.13637871,  4.84783456,  6.54050974,  6.16320574,  3.19237208,
        8.26303978,  2.54810001,  6.7940643 ,  4.76129782,  6.19003276,
        6.98790914,  5.32206099,  4.03351684, -1.84844075,  6.19003276,
        6.34363707,  7.96924468,  5.32206099,  6.28998302,  3.76654876,
        4.62110703,  7.017764  ,  7.49501826,  6.52709623,  9.86182038,
        6.90440023,  7.47857691,  8.44649894,  6.02301495,  9.32788423,
        0.89566537,  1.45642853,  7.63520905,  6.72396891,  7.33838612,
        2.89857699,  6.23330113,  5.37874287,  4.31389842,  5.1818702 ,
        3.65621283,  5.84258362,  7.8424674 ,  8.60010325,  3.90673956,
        3.19237208,  3.79640362,  7.36824098,  6.33022355,  5.3354745 ,
        3.83664416,  3.85308551,  7.26829073,  5.32206099,  5.54576069,
        6.33022355,  7.05800454,  6.26012816,  3.76654876,  4.91792996,
        7.94241766,  9.03408914,  3.19237208,  4.97158401,  6.65387351,
        9.32788423,  6.33022355,  8.83721646,  4.90148861,  7.54867231,
        7.2414637 ,  5.95291955,  3.95000793,  6.93425509,  5.88282415,
        9.52475691,  5.32206099,  7.60535419,  8.26303978,  8.67019864,
        5.81272876,  8.51659434,  8.38981706,  6.8641597 ,  6.41373246,
        5.1117748 ,  7.14454128,  5.1117748 ,  4.97158401,  8.53000785,
        3.76654876,  7.73213147,  8.50318083,  5.40556989,  6.40031895,
        7.35482747,  7.07444589,  5.26840694,  6.16320574,  2.11714196,
        3.90673956,  6.48382786,  4.74788431,  5.53234717,  1.70998309,
        4.58086649,  4.97158401,  7.28473207,  3.90673956,  6.93425509,
        8.53000785,  6.45700083,  7.04459103,  9.3711526 ,  7.28473207,
        4.55101163,  5.25196559,  3.38924476,  4.03351684,  7.07444589,
        4.46750272,  3.72630823,  1.73681012,  7.33838612,  6.16320574,
        5.81272876,  9.30105721,  5.53234717,  3.19237208,  5.3354745 ,
        5.05509292,  8.43308543,  9.65153419,  3.12227669,  5.32206099,
        4.48091624,  3.83664416, -0.44653283,  2.21406438,  7.61876771,
        7.19819533,  2.6882908 ,  7.74554499,  6.51368272,  5.74263336,
        6.8641597 ,  5.47566529,  5.39215638,  2.87174997,  8.05275359,
        5.53234717,  4.55101163,  6.47041435,  5.60244257,  8.27948113,
        4.48091624,  7.89914929,  3.19237208,  7.18478182,  7.26829073,
        5.97974657])

In [ ]:
error=Y-Estimado 
error

0     -0.736644
1     -2.642824
2     -0.836644
3      1.152165
4      0.468607
         ...
521    7.100851
522   -0.922372
523   -2.514782
524    4.291710
525   -2.479747
Name: wage, Length: 526, dtype: float64

In [ ]:
Var= sum(error**2)/523 
Var

10.608336116213543

In [ ]:
x.T @ x

array([[   526.,   6608.,   8951.],
       [  6608.,  87040., 106539.],
       [  8951., 106539., 249027.]])

In [ ]:
f= x.T.dot(x)
inverF= np.linalg.inv(f)
inverF

array([[ 5.53926242e-02, -3.71227943e-03, -4.02835200e-04],
       [-3.71227943e-03,  2.72907389e-04,  1.66782433e-05],
       [-4.02835200e-04,  1.66782433e-05,  1.13597903e-05]])

B. Calcule los errores estándar

In [ ]:
error_est= np.diag(np.sqrt(Var*inverF))
error_est

<ipython-input-42-3d601b1e16fd>:1: RuntimeWarning: invalid value encountered in sqrt
  error_est= np.diag(np.sqrt(Var*inverF))

array([0.76656609, 0.05380607, 0.01097764])

C. Calcule los estadísticos t

In [ ]:
T=B/error_est
T

array([-4.423023  , 11.97396614,  6.38529107])

D. Calcule los intervalos de confianza

In [ ]:
IC= B- 1.96*error_est
IC

array([-4.89300901,  0.53881218,  0.04857923])

In [ ]:
IC2=B+1.96*error_est
IC2

array([-1.88806992,  0.74973198,  0.09161156])

5. Interprete los coeficientes y determine la significancia estadística.

Y^ = -3.3905^ + 0.6443 educ^ +0.0701 exper^

Entendiendo que el modelo es LIN LIN, se puede interpretar que:

a) Educ: Un incremento en un año de educación tiene un efecto de aumento en el salario de 0.6443 dólares.
b) exper: Un incremento en un año de experiencia, tiene un efecto de aumento en el salario de un 0.0701 dólares.
En cuanto a la hipótesis nula y alternativa, decimos que:

H0:\Bjfm=\Bjfn 
H1:\Bjfm≠\Bjfn 

Considerando que la significancia estádistica de las variables independientes son evaluadas de acuerdo con los intervalos de confianza, en donde el límite inferior es 0,025 y el superior 0,975, se puede concluir que:

a) educ: es estadisticamente signicativo, por lo que, se rechaza la hipótesis nula, ya que, estos límites no se encuentran dentro del 0.
b)exper: es estadisticamente signicativo, por lo que, se rechaza la hipótesis nula, ya que, estos límites no se encuentran dentro del 0.
Por lo tanto, las dos variables son estadisticamente signicativas, es decir, estas pueden afectar al salario (dependiente).